<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>joz</display-name>

    <servlet>
	<servlet-name>JozInit</servlet-name>
	<servlet-class>com.tumri.joz.jozMain.InitServlet</servlet-class>
	<load-on-startup>1</load-on-startup>	        
    </servlet>

    <servlet>
	<servlet-name>JozMonitor</servlet-name>
	<servlet-class>com.tumri.joz.monitor.JozMonitorServlet</servlet-class>
    </servlet>

    <servlet>
	<servlet-name>JozRefreshData</servlet-name>
	<servlet-class>com.tumri.joz.monitor.JozRefreshDataServlet</servlet-class>
    </servlet>

    <servlet>
	<servlet-name>console</servlet-name>
	<servlet-class>com.tumri.joz.monitor.JozConsoleServlet</servlet-class>
    </servlet>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet-mapping>
	<servlet-name>JozMonitor</servlet-name>
	<url-pattern>/HC</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	<servlet-name>JozRefreshData</servlet-name>
	<url-pattern>/refresh</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	<servlet-name>console</servlet-name>
	<url-pattern>/console</url-pattern>
    </servlet-mapping>

</web-app>
