<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>joz</display-name>

    <servlet>
	<servlet-name>JozInit</servlet-name>
	<servlet-class>com.tumri.joz.jozMain.InitServlet</servlet-class>
	<load-on-startup>1</load-on-startup>	        
    </servlet>

    <servlet>
	<servlet-name>Joz</servlet-name>
	<servlet-class>com.tumri.joz.jozMain.JozServlet</servlet-class>
    </servlet>

    <servlet>
	<servlet-name>JozMonitor</servlet-name>
	<servlet-class>com.tumri.joz.monitor.JozMonitorServlet</servlet-class>
    </servlet>

    <servlet>
	<servlet-name>JozRefreshData</servlet-name>
	<servlet-class>com.tumri.joz.monitor.JozRefreshDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
	<servlet-name>Joz</servlet-name>
	<url-pattern>/init</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	<servlet-name>Joz</servlet-name>
	<url-pattern>/joz</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	<servlet-name>JozMonitor</servlet-name>
	<url-pattern>/HC</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	<servlet-name>JozRefreshData</servlet-name>
	<url-pattern>/refresh</url-pattern>
    </servlet-mapping>

</web-app>
