#Template file for joz properties
com.tumri.content.file.refreshInterval=-1
com.tumri.content.file.sourceDir=/opt/Tumri/joz/data/caa/current
com.tumri.content.file.dataDir=data
com.tumri.content.luceneDir=lucene
#com.tumri.content.file.cacheEnabled=false
#com.tumri.content.file.cacheFilename=/tmp/ContentData.txt
#com.tumri.content.file.disableMup=true
#com.tumri.content.file.disableTaxonomy=true
#com.tumri.content.file.disableMerchantData=true
com.tumri.content.file.batchReadSize=5000
com.tumri.content.file.batchReadInterval=1

com.tumri.content.jozindexDir=jozindex
#com.tumri.joz.index.reader.debug=false
#com.tumri.joz.index.reader.debug.outdir=/tmp
#com.tumri.joz.index.reader.indexFileNamePattern=.*_jozindex_.*.bin
#com.tumri.content.file.disableJozIndex=true

#Note that the com.tumri.campaign.file.sourceDir can be set to a comma separated list of directories that are all used to look for the tspec and mapping lisp files.
com.tumri.campaign.querycache.size=2000
com.tumri.campaign.file.sourceDir=/opt/Tumri/joz/data/cma
com.tumri.campaign.file.trigger.monitorInterval=5
com.tumri.campaign.file.tspecFileNamePattern=t-specs.lisp
com.tumri.campaign.file.mappingFileNamePattern=mapping.lisp
com.tumri.campaign.file.refresh.enabled=true
com.tumri.campaign.file.refresh.time.minutes=40
com.tumri.campaign.file.refresh.interval.minutes=60
com.tumri.campaign.file.triggerLoadFileName=cmaload.txt
com.tumri.campaign.file.polling.mode=calendar

#com.tumri.content.file.mup.dataDir=
#com.tumri.content.file.taxonomy.dataDir=
#com.tumri.content.file.merchant_data.dataDir=

com.tumri.joz.code.label.property=code_label
com.tumri.joz.build.version.property=build_version
com.tumri.joz.release.version.property=release_version
com.tumri.joz.version.file.name=joz_version.properties

#Targeting related score
com.tumri.targeting.locationScore = 1.0
com.tumri.targeting.themeScore    = 0.9
com.tumri.targeting.urlScore      = 0.8
com.tumri.targeting.defaultScore  = 0.1
com.tumri.targeting.countryScore  = 0.75
com.tumri.targeting.regionScore   = 0.80
com.tumri.targeting.cityScore     = 0.85
com.tumri.targeting.zipcodeScore  = 1.0
com.tumri.targeting.dmacodeScore  = 0.95
com.tumri.targeting.areacodeScore = 0.90

com.tumri.targeting.runOfNetworkScore  = 0.2
com.tumri.targeting.runOfNetworkWeight = 1
com.tumri.targeting.geoNoneScore       = 0.2
com.tumri.targeting.geoNoneWeight      = 1

#Joz settings for LLS/LLC
#com.tumri.joz.listing.provider.impl=com.tumri.lls.client.main.LlcListingProviderImpl
com.tumri.joz.listing.provider.impl=com.tumri.joz.jozMain.JozListingProviderImpl
com.tumri.llc.server.host=${com.tumri.llc.server.host}
com.tumri.llc.server.port=20444
com.tumri.llc.socket.pool.size=10
com.tumri.llc.socket.numRetries=3
com.tumri.llc.listing.cache.size=10000


#JoZ uses the property below to load all the campaign data based on the region specified
#For UK change the value below to UK
com.tumri.campaign.data.region.name=USA

com.tumri.targeting.default.realm.ospec.name = T-SPEC-http://default-realm/

com.tumri.targeting.default.realm.ospec.string = (t-spec-add :name '|T-SPEC-http://default-realm/| :version -1 :include-categories '(|GLASSVIEW.TUMRI_14150| |GLASSVIEW.TUMRI_14137| ) :attr-inclusions '((PROVIDER |SHOPPING.COM| )) :ref-price-constraints '(NIL 180) )

com.tumri.targeting.default.realm.name = http://default-realm/

com.tumri.targeting.default.realm.getaddata.string = (get-ad-data :t-spec '|T-SPEC-http://default-realm/| :num-products 12)

#CMA specific properties

# Data Source type can be either SIMPLE or JNDI
data.source.type = SIMPLE

# Set this property if JNDI data source is used. Example: data.source = jdbc/MySQL501_DS
data.source =

# Set the properties below if SIMPLE datasource is used.
JDBC.Driver = com.mysql.jdbc.Driver

# Connection url. Example: JDBC.ConnectionURL = jdbc:mysql://localhost:3306/CAMPAIGN_DB
JDBC.ConnectionURL =

JDBC.Username =

JDBC.Password =

JDBC.DefaultAutoCommit = true

Pool.MaximumActiveConnections = 10

Pool.MaximumIdleConnections = 5

Pool.MaximumCheckoutTime = 12000

Pool.TimeToWait = 10000

Pool.PingQuery = select 1

Pool.PingEnabled = false

Pool.PingConnectionsOlderThan = 0

Pool.PingConnectionsNotUsedFor = 0

# Define the maximum page size for the data that should be retrieved from the repository at a time
# The value of this parameter should be modified based on the memory capacity of the application using the CM API.
result.page.size = 15000

# This properties should be set only if instructed by the development team
# Example: cma.factory.impl = com.tumri.cma.misc.CMAFactoryImpl
cma.factory.impl = com.tumri.cma.misc.CMALispFactoryImpl

#URL Scavenging global stop words
com.tumri.productselection.global.stopwords=.com,.org,.gov,.net,.biz,.uk,.fr,.in,.php,.html,.htm,.css,.js,www,http://,cache://,rss://,feed://,http,
